.red {
    color: red;
}

.green {
    color: green;
}

.purple {
    color: purple;
}

.blue {
    color: blue;
}

.orange {
    color: orange;
}

.lightgreen {
    color: lightgreen;
}

.brown {
    color: brown;
}

.lightgray {
    color: lightgray;
}

.yellow {
    color: yellow;
}

.gray {
    color: gray;
}

/****** DO NOT CHANGE THE STYLES BELOW THIS ******/

body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    margin: 0;
    display: inline-block;
    font-size: 3em;
    padding: 0.25em;
}